%head
  %title= current_page.data.title || "Middleman"

  %meta{charset: "utf-8"}/
  %meta{content: "ie=edge", "http": {equiv: "x-ua-compatible"}}/
  %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

  %meta(name="description" content="")
  %meta(name="author" content="")

  %link{:href => "site.webmanifest", :rel => "manifest"}/
  %link{:href => "icon.png", :rel => "apple-touch-icon"}/

  = stylesheet_link_tag "site"


